---
const API = 'https://api.escuelajs.co/api/v1/categories';
const data = await fetch(API).then(r => r.json());
---
<div class='categories-gallery'>
	{data.map((item) => (
    <div>
      <img loading="lazy" src={item.image} alt={item.name} />
      <div class='title'>
        <h5>{item.name}</h5>
      </div>
    </div>
  ))}
</div>
<style>
	.categories-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
</style>


