---
import type { Product } from '@models/index';
const API = 'https://api.escuelajs.co/api/v1/products?offset=0&limit=10';
const response = await fetch(API);
const data = await response.json() as Product[];
---
<div class='grid grid-5 not-content'>
	{data.map((item) => (
    <article>
      <img loading="lazy" src={item.images[0]} alt={item.title} />
      <p>${item.price}</p>
      <h4>{item.title}</h4>
    </article>
  ))}
</div>
