---
const API = 'https://api.escuelajs.co/api/v1/products?offset=0&limit=10';
const data = await fetch(API).then(r => r.json());
---
<div class='prod-gallery'>
	{data.map((item) => (
    <div>
      <img loading="lazy" src={item.images[0]} alt={item.title} />
      <div>
        <h5>{item.title}</h5>
        <p>${item.price}</p>
      </div>
    </div>
  ))}
</div>

<style>
	.prod-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
  }

  @media screen and (min-width: 768px) {
    .prod-gallery {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
</style>
