---
import { WIDTH_MEDIUM, HEIGHT_MEDIUM } from '../../constants/images.constants.ts'
const API = 'https://api.escuelajs.co/api/v1/users?limit=3';
const data = await fetch(API).then(r => r.json());
---
<div class='users-gallery'>
	{data.map((item) => (
    <div>
      <img loading="lazy" src={item.avatar} alt="user" />
      <div class='title'>
        <h5>{item.email}</h5>
      </div>
    </div>
  ))}
</div>

<style>
	.users-gallery {
    display: flex;
    flex-direction: column;
  }
  .users-gallery img {
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    .users-gallery {
      display: grid;
      grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 15px;
    }
  }
</style>
