---
import { Markdown } from 'astro/components';
import HomeLayout from '../layouts/HomeLayout.astro';
import PlatziLogo from '../components/Header/PlatziLogo.astro';
import ProductsAPI from '../components/PreviewAPI/ProductsAPI.astro';
import CategoriesAPI from '../components/PreviewAPI/CategoriesAPI.astro';
import UsersAPI from '../components/PreviewAPI/UsersAPI.astro';
---
<HomeLayout>
  <section class="hero">
    <div>
      <div class="title">
        <PlatziLogo size={60} />
        <h2>Platzi Fake Store API</h2>
      </div>
      <p>Fake store rest API for your e-commerce or shopping website prototype.</p>
      <a class="btn" href="/doc/introduction">View Docs</a>
    </div>
    <img loading="lazy" src="/fake-api.png" alt="Platzi Fake Api">
  </section>
  <section class="example">
    <div class="title">
      <h2>Get products</h2>
      <Markdown>
        ```
        [GET] http://api.escuelajs.co/api/v1/products
        ```
      </Markdown>
    </div>
    <div class="APIContainer">
      <ProductsAPI />
    </div>
  </section>
  <section class="example">
    <div class="title">
      <h2>Get categories</h2>
      <Markdown>
        ```
        [GET] http://api.escuelajs.co/api/v1/categories
        ```
      </Markdown>
    </div>
    <div class="APIContainer">
      <CategoriesAPI />
    </div>
  </section>
  <section class="example">
    <div class="title">
      <h2>Get users</h2>
      <Markdown>
        ```
        [GET] http://api.escuelajs.co/api/v1/users
        ```
      </Markdown>
    </div>
    <div class="APIContainer">
      <UsersAPI />
    </div>
  </section>
</HomeLayout>
<style>
  .btn {
    background: #121f3d;
    border: 1px solid #33b1ff;
    border-radius: 0.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #33b1ff;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    justify-content: space-between;
  }
  .hero > div {
    display: flex;
    flex-direction: column;
  }
   .hero .title {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
  }
   .hero .title h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .5rem;
    text-align: center;
  }



  .example {
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    flex-direction: column;
    text-align: center;
  }
  .example .title {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  img {
    width: 90%;
    margin: 1rem;
    margin-block-end: 0;
  }

  @media screen and (min-width: 768px) {
    img {
      width: 45%;
      margin-block-end: 1rem;
    }
    .hero {
      flex-direction: row;
      padding: 4rem 2rem;
    }
    .hero > div {
      display: initial;
    }
  }
</style>
