<a class="productHunt" href="https://www.producthunt.com/posts/platzi-fake-store-api?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-platzi&#0045;fake&#0045;store&#0045;api" target="_blank">
  <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=341167&theme=light" alt="Platzi&#0032;Fake&#0032;Store&#0032;API - Simple&#0032;and&#0032;powerful&#0032;API&#0032;for&#0032;your&#0160;e&#0045;commerce&#0032;prototype | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
</a>
<style>
  .productHunt {
    display: block;
    margin: 10px auto;
  }
  @media (min-width: 72em) {
    .productHunt {
      position: fixed;
      bottom: 5px;
      right: 5px;
      margin: 0;
    }
  }
</style>
