---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import * as CONFIG from '../config';


const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<html dir='ltr' lang='en-us' class="initial">
	<head>
		<HeadCommon />
		<!-- <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} /> -->
		<title>
			{CONFIG.SITE.title}
		</title>
		<style>
			.layout {
				display: block;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
			}
      .productHunt {
        display: block;
        margin: 10px auto;
      }
      @media (min-width: 72em) {
        .productHunt {
          position: fixed;
          bottom: 5px;
          right: 5px;
          margin: 0;
        }
      }
		</style>
	</head>

	<body>
		<main class="layout">
      <slot />
		</main>
	</body>
</html>
