---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import ProductHuntBtn from '../components/ProductHuntBtn.astro';
import * as CONFIG from '../config';

const { content = {} } = Astro.props;
---
<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={Astro.request.canonicalURL} />
		<title>{content.title ? `${content.title} - ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
		<style>
			.layout {
				display: block;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
			}
      .productHunt {
        display: block;
        margin: 10px auto;
      }
      @media (min-width: 72em) {
        .productHunt {
          position: fixed;
          bottom: 5px;
          right: 5px;
          margin: 0;
        }
      }
		</style>
	</head>

	<body>
		<main class="layout">
      <slot />
		</main>
    <ProductHuntBtn />
	</body>
</html>
